body {
    position: relative;
    background: url('./assets/bg.svg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.lp-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba($color: $primary-dark, $alpha: .5);
    width: 90%;
    padding: 45px 0;
    margin: 15px auto;

    .logo {
        max-width: 14%;
        margin: 0 auto 15px auto;
    }

    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: 60vw;
        margin: 0 auto;
        padding: 0 15px ;

        h1,
        h2 {
            text-transform: uppercase;
        }

        h1 {
            filter: drop-shadow(1px 2px 1px $primary-dark);
            font-size: 2.2rem;
            font-weight: bold;
            color: $white-normal;
        }

        h2 {
            filter: drop-shadow(1px 2px 1px $primary-normal);
            font-size: 1.6rem;
            color: $red-normal;
            margin: 14px 0;
        }

        p {
            font-size: 1rem;
            color: $white-normal;
            line-height: 150%;;
            margin: 0 0 7px 0;

            a {
                
                color: $white-normal;
                border-bottom: 3px solid $red-normal;
                transition: all 0.3s ease-in-out;
            }

            a:hover {
                color: $red-light;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
        width: 60vw;
        background-color: $primary-light;
        color: $white-normal;
        border-radius: 7px;
        box-shadow: 0 0 5px 0 $white-normal;
        margin: 0 auto;
        padding: 20px 30px 40px 30px;

        label {
            margin: 14px 0 3px 0;
        }
        
        input,
        input::placeholder,
        select,
        option {
            color: $black-normal;
        }

        input,
        select {
            border-radius: 5px;
            background: $white-normal;
            padding: 5px;
        }

        option {
            margin: 0 0 3px 0;
            border-radius: unset;
        }

        .botao {
            border: unset;
            background: $red-normal;
            font-size: 1rem;
            color: $white-light;
            padding: 15px 30px;
            margin: 15px auto;
            transition: all 0.3s ease-in-out;
        }

        .botao:hover {
            background: $white-light;
            color: $black-normal;
        }

    }
}

.lp-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $primary-normal;
    text-align: center;
    color: $white-normal;
    padding: 15px 0;
    margin: 0;
    //margin: 30px 0 0 0;
}

@media screen and (max-width: 800px) {
    .lp-principal {
        flex-direction: column;
        .logo {
            max-width: 25%;
            margin: 0 auto 15px auto;
        }

        form {
            margin-top: 10px;
        }
    }
}