body {
    position: relative;
    background: url('./assets/bg.svg') no-repeat;
    background-size: cover;
}

.lp-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;


    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 60vh;
        background: $primary-light;
        color: $white-normal;
        border-radius: 15px;
        padding: 15px;

        label {
            text-transform: uppercase;
            font-size: 2.1rem;
        }

        input,
        select {
            height: 2.1rem;
        }
    }

    section {
        padding: 15px;
    }
}



.lp-header {
    width: 100%;
    text-align: center;

    .lp-header-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 14px;

        .logo {
            max-width: 5%;
        }
    }
}