$themes: (
    light: (
        bg: $primary-light,
        bg-image: linear-gradient(to bottom, rgba(6,18,30,0.1), $primary-light)
    ),
    dark: (
        bg: $primary-dark,
        header-icons: $white-normal,
        header-icons-hover: $red-light,
        header-button-border: $white-light,
        header-button-text: $white-light,
        header-button-border-hover: $red-light,
        header-button-bg-hover: $red-light,
        bg-home: linear-gradient(to bottom, $secundary-dark, rgb(253 253 253 / 10%)),
        introduction-text: $white-normal,
        button-contact-bg: $red-normal,
        button-contact-text: $white-normal,
        about-bg: $white-light,
        about-text: $black-dark,
        about-strong: $red-normal,
        services-map-bg: $red-dark,
        services-map-text: $white-dark,
        services-map-strong: $primary-dark,
        haircut-bg: $white-normal,
        haircut-info-bg: $white-normal,
        haircut-info-button-bg: $red-normal,
        haircut-info-button-text: $white-normal,
        footer-text: $white-normal,
        footer-icons: $white-normal,
        footer-icons-hover: $red-normal
    )
);

@each $theme, $settings in $themes {
    html[data-theme='#{$theme}'] {
        body {
            background: map-get($settings, bg);
        }
        .header-icons {
            i {
                color: map-get($settings, header-icons);
            }
        }
        .header-icons a:hover {
            i {
                color: map-get($settings, header-icons-hover);
            }
        }
        .header-button {
            border-color: map-get($settings, header-button-border);
            color: map-get($settings, header-button-text);
        }
        .header-button:hover {
            border-color: map-get($settings, header-button-border-hover);
            background: map-get($settings, header-button-bg-hover);
        }
        .bg-home::before {
            background-image: map-get($settings, bg-home);
        }
        .introduction {
            color: map-get($settings, introduction-text);
        }
        .button-contact {
            background: map-get($settings, button-contact-bg);
            color: map-get($settings, button-contact-text);
        }
        .about {
            background: map-get($settings, about-bg);
            color: map-get($settings, about-text);
        }
        .about-description {
            p {
                strong {
                    color: map-get($settings, about-strong);
                }
            }
        }
        .services,
        .map {
            background: map-get($settings, services-map-bg);
            color: map-get($settings, services-map-text);
            strong {
                color: map-get($settings, services-map-strong);
            }
        }
        .haircuts {
            .haircut {
                background: map-get($settings, haircut-bg);
                .haircut-info {
                    background: map-get($settings, haircut-info-bg);
                    button {
                        background: map-get($settings, haircut-info-button-bg);
                        color: map-get($settings, haircut-info-button-text);
                    }
                }
            }
        }
        .footer {
            color: map-get($settings, footer-text);
            .footer-icons i {
                color: map-get($settings, footer-icons);
            }
            .footer-icons a:hover i {
                color: map-get($settings, footer-icons-hover);
            }
        }
    }
}