* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  color: #d34040;
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background: transparent;
  transition: background 0.8s;
}

.header-button:hover {
  border: 1px solid #d34040;
  background: #d34040;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

@media screen and (max-width: 800px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 160px;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  padding: 0 8px;
  margin: 0 auto;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("assets/bg.svg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

.introduction {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.introduction h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.introduction p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  padding: 14px 28px;
  color: #fff;
  background: #d94140;
  border: 0;
  font-size: 18px;
  font-weight: 800;
  margin: 14px 0;
}

.button-contact:hover {
  animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 800px) {
  .introduction {
    min-height: 60vh;
  }
  .introduction h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .introduction p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .introduction h1 {
    font-size: 24px;
  }
  .introduction p {
    font-size: 12px;
  }
}
.about {
  background: #06121e;
  overflow: hidden;
  color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}
.about-content div {
  flex: 1;
}
.about-content .about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-content .about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}
.about-content .about-description p strong {
  color: #d94140;
}

@media screen and (max-width: 800px) {
  .about-content {
    flex-direction: column;
  }
}
.services,
.map {
  background: #fff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2,
.map h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}
.services-content p,
.map p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}
.services-content iframe,
.map iframe {
  width: 100%;
  height: 40vh;
  border: unset;
}

.haircuts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 14px 44px 34px 44px;
}
.haircuts .haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
.haircuts .haircut img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.25s;
}
.haircuts .haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}
.haircuts .haircut .haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background: #fff;
  z-index: 2;
}
.haircuts .haircut .haircut-info button {
  background: #d94140;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
}

@media screen and (max-width: 800px) {
  .haircuts {
    flex-direction: column;
  }
  .haircuts .haircut img {
    max-width: 740px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
}
.footer .footer-icons {
  display: flex;
  gap: 8px;
  color: #fff;
}
.footer .button-whatsapp {
  position: fixed;
  right: 24px;
  bottom: 14px;
  z-index: 3;
}
.footer .button-whatsapp img {
  max-width: 74px;
  transition: transform 0.3s;
}
.footer .button-whatsapp img:hover {
  transform: scale(1.1);
}
.footer .button-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  right: 90px;
  border-radius: 8px;
  padding: 6px;
  background: #232224;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.7s;
}
.footer .button-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .footer .button-whatsapp img {
    max-width: 64px;
  }
}
html[data-theme=default] {
  background: #06121e;
}

html[data-theme=light] {
  background: #0c2135;
}

html[data-theme=dark] {
  background: #040f1a;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
}

button {
  cursor: pointer;
  font-family: "Sora", sans-serif;
}

svg,
img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */